@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap");

.product-card {
  --main-color: #27ae60;
  --white: white;
  --card-font: "Poppins", arial;
  --card-font-2: "Montserrat", arial;
  --width: 98%;
  width: var(--width);
  display: flex;
  border-radius: 5px;
  background-color: var(--white);
  position: relative;
  padding: calc(var(--width) / 20) 1rem;
  align-items: center;
  border: 1px solid var(--silver);
  font-family: var(--card-font-2);
}

#productCard * {
  box-sizing: border-box;
  transition: all 300ms ease-in;
}
.product-card__image {
  margin-top: 1rem;
  width: 25%;
  text-align: center;
  align-self: flex-start;
}
.product-card__image img {
  max-width: 60%;
}
.product-card__features {
  width: 65%;
  margin-left: 20px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}
.product-card__features__title a {
  color: var(--main-color);
  line-height: 1.5;
  font-weight: 700;
  font-family: var(--card-font);
  text-decoration: none;
}
.product-card__features__title {
  font-size: clamp(1rem, 1rem + 2vw, 24px);
  display: block;
  margin-bottom: 10px;
}

.product-card__features ul,
.product-card__features ol {
  list-style-position: inside;
  font-size: clamp(12px, 8px + 2vw, 14px);
  color: rgb(57, 62, 66);
  padding: 0;
}
.product-card__features ul li,
.product-card__features ol li {
  margin-bottom: 10px;
  line-height: 1.5;
}
.product-card__features p {
  margin: 0;
  line-height: 1.7;
  font-size: 1rem;
}
.product__card__price {
  --desktopFontSize: 1.3rem;
  --mobileFontSize: var(--desktopFontSize);
  font-size: var(--desktopFontSize) !important;
  color: #323232;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Star Rating */
.product-card__rating {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 12px;
  flex-direction: column;
  align-self: flex-end;
}
.rating__star-bg {
  position: relative;
  display: inline-block;
  background-image: url(./star.svg);
  background-repeat: repeat-x;
  background-position: left center;
  vertical-align: middle;
  height: 16px;
  width: 80px;
  background-size: 16px 16px;
  text-align: center;
  margin: auto;
}
.rating__star-bg span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-image: url(./star-yellow.svg);
  background-repeat: repeat-x;
  background-position: left center;
  height: 16px;
  width: 80px;
  background-size: 16px 16px;
}
.product-card__reviews {
  padding-top: 10px;
}

/* Tax */
.product-card__tax {
  position: absolute;
  bottom: 15px;
  left: 25px;
  color: rgb(75, 79, 82);
  font-size: 12px;
  font-style: italic;
}

/* Button */
.product__card__button {
  background-color: var(--main-color);
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: 15px;
  padding: 15px 25px;
  font-family: var(--card-font);
  font-weight: 500;
  border-radius: 50px;
  text-align: right;
  text-decoration: none;
  align-self: flex-end;
  overflow: hidden;
}
a.product__card__button:active {
  transform: scale(0.9);
}

.product__card__badge {
  position: absolute;
  top: -18px;
  left: -10px;
  display: inline-block;
  background-color: var(--main-color);
  color: var(--white);
  z-index: 500;
  padding: 10px 15px;
  font-size: 1rem;
  line-height: 1rem;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.14);
  font-weight: bold;
  font-family: var(--card-font-2);
}
.product__card__badge::after {
  content: " ";
  display: block;
  position: absolute;
  left: -10px;
  bottom: -7px;
  border-color: transparent var(--main-color) transparent transparent;
  border-style: inset solid inset inset;
  border-width: 0 10px 7px;
  filter: brightness(50%);
}

@media screen and (max-width: 768px) {
  .product-card {
    width: 100% !important;
    flex-wrap: wrap;
  }
  .product__card__price {
    order: 2;
    font-size: var(--mobileFontSize) !important;
  }

  .product-card__image,
  .product-card__features {
    width: 100% !important;
    text-align: left;
  }
  .product-card__features {
    margin-left: 0;
  }
  .product-card__features p {
    line-height: 1.7;
    font-size: 1rem;
  }
  .product-card__image img {
    width: 150px;
  }

  .product-card__tax,
  .product-card__rating,
  .product__card__badge {
    display: none;
  }
  .product__card__button {
    margin-top: 5px;
    border-radius: 5px;
    width: 100%;
    align-self: flex-start;
    text-align: center;
    order: 3;
    padding: 15px 0px;
  }
}

/* Themes #card-theme-purple {
  --main-color: #400093 !important;
}
#card-theme-blue {
  --card-color: #0083fe !important;
}
#card-theme-green {
  --card-color: #27ae60 !important;
}
#card-theme-green2 {
  --card-color: #00c200 !important;
}
#card-theme-black {
  --card-color: #121317 !important;
}
#card-theme-red {
  --card-color: #bc081b !important;
}
#card-theme-pink {
  --card-color: #fe0084 !important;
}
#card-theme-orange {
  --card-color: #f47c00 !important;
}

/* Misc */
/* .theme-color {
  height: 40px;
  width: 40px;
  background: var(--card-color);
  margin: 10px 6px 0px 0px;
  border-radius: 2px;
}
*/

/* Theme 1 */
.card-theme-1 {
  padding: 2rem 1rem !important;
  box-shadow: none !important;
  border: 1px solid var(--silver) !important;
}
.card-theme-1 .image-section {
  /* align-self: center; */
  order: 1 !important;
}
.card-theme-1 .features {
  margin-left: 40px !important;
}
.card-theme-1 .features p {
  text-align: left !important;
  padding-top: 10px;
}
.card-theme-1 .card-price,
.card-theme-1 .star-rating,
.card-theme-1 .tax,
.card-theme-1 .card-badge {
  display: none !important;
}
