#product-description {
  padding: var(--d-padding);
  margin: var(--d-margin);
  font-family: var(--card-font-2);
}
#product-description > p {
  pointer-events: none;
}

#product-description p,
#product-description ul,
#product-description ol {
  line-height: inherit !important;
}
#product-description ul li,
#product-description ol li,
#product-description p {
  line-height: inherit !important;
  font-size: var(--desktopFontSize);
  font-family: var(--card-font-2);
}

@media screen and (max-width: 768px) {
  #product-description {
    padding: var(--m-padding);
    margin: var(--m-margin);
  }
  #product-description ul li,
  #product-description ol li,
  #product-description p {
    /* --mobileFontSize: inherit; */
    font-size: var(--mobileFontSize);
  }
}
